---
layout: garden
title: The Garden
id: garden
permalink: /garden
---

<div id="garden-layout">

    <section id="garden-bookmarks">

        <h2>Open Tabs</h2>

        <div class="bookmark-list">
            {% assign recent_tabs = site.open_tabs | sort: "created_time" | reverse %}
            {% for bookmark in recent_tabs limit: 5 %}
                {% if bookmark.bookmark_of %}
                {% assign link = bookmark.bookmark_of %}
                {% assign category = "link" %}
                {% else %}
                {% assign link = bookmark.link %}
                {% assign category = bookmark.category %}
                {% endif %}
            <div class="bookmark-list-item">
                <div class="bookmark-list-item-icon">
                    {% case category %}
                    {% when "link" %}
                    <img src="/assets/icons/icons8-bookmark-48.png" alt="bookmark" srcset="/assets/icons/icons8-bookmark-48.png, /assets/icons/icons8-bookmark-96.png 2x">
                    {% when "video" %}
                    <img src="/assets/icons/icons8-video-48.png" alt="video" srcset="/assets/icons/icons8-video-48.png, /assets/icons/icons8-video-96.png 2x">
                    {% when "quote" %}
                    <img src="/assets/icons/icons8-quote-48.png" alt="quote" srcset="/assets/icons/icons8-quote-48.png, /assets/icons/icons8-quote-96.png 2x">
                    {% else %}
                    <img src="/assets/icons/icons8-link-48.png" alt="link" srcset="/assets/icons/icons8-link-48.png, /assets/icons/icons8-link-96.png 2x">
                    {% endcase %}
                </div>
                <div class="bookmark-list-item-content {{bookmark.category}}">
                    {% if category == "quote" %}
                    {{ bookmark.excerpt }}
                    <cite>&mdash; 
                        {% if bookmark.link_title %}
                        {{ bookmark.title }} (via <a href="{{ link }}">{{ bookmark.link_title }}</a>)
                        {% else %}
                        <a href="{{ link }}">{{ bookmark.title }}</a>
                        {% endif %}
                    </cite>
                    {% else %}
                    <h3><a href="{{ link }}">{{ bookmark.title }}</a></h3>
                    {{ bookmark.excerpt }}
                    {% endif %}
                    <p><a href="{{ site.baseurl }}{{ bookmark.url }}" class="internal-link" >Read more...</a></p>
                </div>
            </div>
            {% endfor %}
            <div class="bookmark-list-item-more">
                <a class="internal-link" href="/open_tabs">
                    <!-- <p class="icon">&rarr;</p> -->
                    <img class="icon" src="/assets/icons/icons8-more-48.png" alt="" srcset="/assets/icons/icons8-more-48.png, /assets/icons/icons8-more-96.png 2x">
                    <p class="text">More...</p>
                </a>
            </div>
        </div>

    </section>

    <section id="garden-stream">
        <h2>Miscellaneous</h2>

        <!--
            <iframe
            srcdoc="<link rel=&quot;stylesheet&quot; href=&quot;{{ site.baseurl }}/styles-tumblr.css&quot;><script type=&quot;text/javascript&quot; src=&quot;https://ricardochavezt.tumblr.com/js&quot;></script>"
            width="100%" height="100%" frameborder="0"></iframe>
        -->

        <div class="stream-post-list">
            {% for post in site.posts %}
            <div class="stream-post-item">
                <img src="/assets/icons/icons8-note-48.png" class="stream-post-icon" alt="note" srcset="/assets/icons/icons8-note-48.png, /assets/icons/icons8-note-96.png 2x">
                <!-- <div class="stream-post-icon">📝</div> -->
                <div class="stream-post-content">
                    {% if post.show_title %}
                    <h3>{{ post.title }}</h3>
                    {% endif %}
                    {% if post.show_excerpt_only %}
                    {{ post.excerpt }}
                    <p><a href="{{ site.baseurl }}{{ post.url }}" class="internal-link">Read more...</a></p>
                    {% else %}
                    {{ post.content }}
                    {% endif %}
                    <p class="metadata">
                        <time datetime="{{ page.date | date_to_xmlschema}}">Posted on {{ post.date | date: "%B %-d, %Y" }}</time>
                        {% unless post.tags == empty %}
                        |
                        {% for tag in post.tags %}
                        <span class="stream-post-tag">{{ tag }}</span>
                        {% endfor %}
                        {% endunless %}
                        | <a href="{{ site.baseurl }}{{ post.url }}" class="internal-link">Permalink</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section id="garden-notes">

        <h2>Notes</h2>

        <div class="garden-notes-list">
            {% assign recent_notes = site.notes | sort: "last_modified_at_timestamp" | reverse %}
            {% for note in recent_notes limit: 5 %}
            <div class="garden-notes-item">
                <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">
                    <h3>{{ note.title }}</h3>
                    {{ note.excerpt }}
                    <p class="metadata">Last updated: {{ note.last_modified_at_timestamp | date: "%Y-%m-%d" }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

</div>