$color-primary: hsl(0, 0%, 10%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: rgba(10, 132, 255, 1); //hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 2em 0;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding-top: 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 1.5em;
  margin: 0;
  font-size: 0.88em;
  background: $color-box-background;
  border-radius: $border-radius;

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background 300ms;
  padding: 0 0.1em;
  text-decoration: none;
  border-bottom: 1px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: change-color($color-border, $alpha: 0.125);
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.7em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after,
  &.footnote:after,
  &.reversefootnote:after {
    content: "";
  }
}

*:focus {
  background: change-color($color-border, $alpha: 0.25) !important;
  color: black !important;
}

nav {
  margin: 1em 0 3em;
}

nav#page-nav {
  display: flex;
  justify-content: space-between;

  h1 {
    display: inline-block;
    font-size: 1em;
    margin-top: 0;
  }

  .link-group a {
    margin-left: 0.5em;

    @media (min-width: 700px) {
      margin-left: 1em;
    }
  }
}

main.home .main-content {
  grid-area: main;
}

main.home .sidebar-projects {
  grid-area: s1;
}

main.home .sidebar-link {
  grid-area: s2;
}

main.home {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "main main"
    "s1 s2";

  @media (min-width: 700px) {
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-areas: "main s1 s2";
  }
}

nav.garden-nav {
  margin: 1em 0;

  .link-group {
    text-align: right;
  }
}

#garden-layout {
  #garden-bookmarks {
    grid-area: tabs;

    .bookmark-list {
      margin-top: 1.5em;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      .bookmark-list-item-content {
        blockquote {
          background-color: transparent;
          font-size: 1.25em;
          padding: 1em 0 0.75em;
          font-family: Georgia, 'Times New Roman', Times, serif;
        }
      }
    }

    .bookmark-list-item-more {
      font-size: 1rem;

      a.internal-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #a6a6a6;
        border-radius: 4px;

        &:hover {
          background-color: $color-box-background;
        }

        .icon {
          padding: 0.5em;
          border-right: 1px solid #a6a6a6;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background-color: $color-box-background;
        }
        
        .text {
          padding-left: 1em;
          flex-grow: 1;
        }
      }
    }
  }

  #garden-stream {
    grid-area: stream;
  }

  #garden-notes {
    grid-area: notes;
  }

  display: grid;
  column-gap: 1.5em;
  grid-template-columns: 1fr;
  grid-template-areas:
  "tabs"
  "notes"
  "stream";

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "tabs tabs"
      "notes stream";
  }
}

.bookmark-list-item {
  display: flex;
  flex-direction: row;
}

.bookmark-list-item-icon {
  flex-shrink: 0;

  img {
    padding: 0.5em;
    border-top: 1px solid #a6a6a6;
    border-left: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
    background-color: $color-box-background;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.bookmark-list-item-content {
  font-size: 1rem;
  border: 1px solid #a6a6a6;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0px 4px 4px 0px;
}

#garden-notes .garden-notes-list {
  margin-top: 1.5em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  a.internal-link {
      display: flex;
      flex-direction: column;
      border: 1px solid mix($color-subtext, white);
      border-radius: $border-radius;
      padding: 0 1em;
  
      &:hover {
        background: $color-box-background;
      }
    }

  .metadata {
    color: $color-subtext;
    font-size: smaller;
    font-style: italic;
  }
}

.tip {
  display: inline-block;
  font-weight: normal;
  font-size: 0.5em;
  pointer-events: auto;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }

  content a.internal-link {
    color: $color-border;
    background: change-color($color-border, $alpha: 0.125);
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

#open-tabs-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .bookmark-list-item-content {
    blockquote {
      margin-top: 1em;
      padding: 1em 1.5em;
      font-size: 1em;
      font-style: italic;
    }

    .metadata {
      font-size: 0.75em;
      font-style: italic;
      color: $color-subtext;
    }
  }
}

#bookmark-entry-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 0;
  
  .metadata {
    margin-top: 0.75em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    time {
      font-size: 0.75em;
      font-style: italic;
      color: $color-subtext;
      text-align: right;
      padding-right: 1em;
    }
  }

  .content {
    border-left: 1px solid #a6a6a6;
    padding-left: 1em;

    blockquote {
      margin-top: 1em;
      padding: 1em 1.5em;
      font-size: 1em;
      font-style: italic;
    }
  }

  h1 {
    font-size: 1.5em;
  }

  .category-icon {
    /*max-width: 50px;*/
    padding: 0.5em;
    border: 1px solid #a6a6a6;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius:4px;
    background-color: $color-box-background;
  }
}