---
layout: garden
---

{% assign category="note" %}
{% for type in site.post_types %}
    {% if page.categories contains type %}
        {% if type ==  "notes" %}
            {% assign category="note" %}
        {% else %}
            {% assign category=type %}
        {% endif %}
    {% break %}
    {% endif %}
{% endfor %}
<div id="post-container" class="h-entry">
    <div class="category-icon">
        <img src="/assets/icons/post-type-{{category}}.png" srcset="/assets/icons/post-type-{{category}}.png, /assets/icons/post-type-{{category}}-2x.png 2x">
    </div>
    <div class="post-content">
{% case category %}
{% when "watched" %}
    <p class="p-name">{% if page.rewatch.first %}(Re-){% endif %}Watched <a href="{{ page.watch_of.url }}">{{ page.watch_of.name }}</a>
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "reads" %}
    <p class="p-name">{{page.progress | capitalize}} reading <a href="{{page.read_of.url}}">{{page.read_of.name}}</a> by {{page.read_of.author}}
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "likes" %}
    <p class="p-name">Liked <a href="{{page.like_of}}">{{page.title | default: page.like_of }}</a></p>
{% when "rsvps" %}
    <p class="p-name">
        {% case page.rsvp %}
        {% when "yes", true %}
        Attending
        {% when "no", false %}
        Not attending
        {% when "maybe" %}
        Maybe going to
        {% when "interested" %}
        Interested in going to
        {% endcase %}
        <a href="{{page.in_reply_to}}">{{page.title | default: page.in_reply_to}}</a>
    </p>
{% when "listened" %}
    <p class="p-name">Listened to <a href="{{page.listen_of.url}}">{{page.listen_of.name}}</a> by {{page.listen_of.author}}
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "jams" %}
    <p class="p-name"><a href="{{page.jam_of.url}}">{{page.jam_of.name}}</a> by {{page.jam_of.author}} is my current jam.</p>
{% when "reposts" %}
    <p class="p-name">Reposted
        {% if page.repost_of.url and page.repost_of.name %}
        <a href="{{page.repost_of.url}}">{{page.repost_of.name}}</a>:
        {% else %}
        <a href="{{page.repost_of}}">{{page.repost_of}}</a>:
        {% endif %}
    </p>
{% when "photos" %}
    <p class="p-name">Posted a photo:</p>
    <p>
        <img src="{{page.photo.first.url}}" alt="{{page.photo.first.alt}}" />
    </p>
{% else %}
    {% if page.show_title %}
    <h1 class="p-name">{{ page.title }}</h1>
    {% endif %}
{% endcase %}
    <content class="e-content">
      {{ content }}
    </content>

    <div class="metadata">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">
            Posted on {{ page.date | date: "%B %-d, %Y" }} |
        </time>
        <a href="{{ site.baseurl }}{{ page.url }}" class="u-url internal-link">Permalink</a>
        <a href="/" class="p-author h-card" rel="author">{{ site.author }}</a>
    </div>
    </div>
</div>