---
layout: garden
---

{% assign category="note" %}
{% for type in site.post_types %}
    {% if page.categories contains type %}
        {% if type ==  "notes" %}
            {% assign category="note" %}
        {% else %}
            {% assign category=type %}
        {% endif %}
    {% break %}
    {% endif %}
{% endfor %}
<div id="post-container" class="h-entry">
    <div class="category-icon">
        <img src="/assets/icons/post-type-{{category}}.png" srcset="/assets/icons/post-type-{{category}}.png, /assets/icons/post-type-{{category}}-2x.png 2x">
    </div>
    <div class="post-content">
{% case category %}
{% when "watched" %}
    <p class="p-summary u-watch-of h-cite">
        {% if page.rewatch.first %}(Re-){% endif %}Watched <a class="u-url" href="{{ page.watch_of.url }}"><span class="p-name">{{ page.watch_of.name }}</span></a>
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "reads" %}
    <p class="p-summary u-read-of h-cite">{{page.progress | capitalize}} reading
        <a class="u-url" href="{{page.read_of.url}}"><span class="p-name">{{page.read_of.name}}</span></a>
        by <span class="p-author">{{page.read_of.author}}</span>
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "likes" %}
    <p class="p-summary">Liked <a class="u-like-of" href="{{page.like_of}}">{{page.title | default: page.like_of }}</a></p>
{% when "rsvps" %}
    <p class="p-summary">
        {% if page.rsvp == true %}
        {% assign rsvp="yes" %}
        {% elsif page.rsvp == false %}
        {% assign rsvp="no" %}
        {% else %}
        {% assign rsvp=page.rsvp %}
        {% endif %}
        <data value="{{rsvp}}" class="p-rsvp">
        {% case rsvp %}
        {% when "yes" %}
        Attending
        {% when "no" %}
        Not attending
        {% when "maybe" %}
        Maybe going to
        {% when "interested" %}
        Interested in going to
        {% endcase %}
        </data>
        <a href="{{page.in_reply_to}}" class="u-in-reply-to">{{page.title | default: page.in_reply_to}}</a>
    </p>
{% when "listened" %}
    <p class="p-summary u-listen-of h-cite">Listened to
        <a class="u-url" href="{{page.listen_of.url}}"><span class="p-name">{{page.listen_of.name}}</span></a>
        by <span class="p-author">{{page.listen_of.author}}</span>
        {% if page.rating %}
        {% assign rating = page.rating | to_integer %}
        {% for i in (1..rating) %}
        &#11088;
        {% endfor %}
        {% if page.rating contains ".5" %}
        &#189;
        {% endif %}
        {% endif %}
    </p>
{% when "jams" %}
    <p class="p-summary"><a class="u-jam-of" href="{{page.jam_of.url}}">{{page.jam_of.name}}</a> by {{page.jam_of.author}} is my current jam.</p>
{% when "reposts" %}
    <p class="h-cite u-repost-of">Reposted
        {% if page.repost_of.url and page.repost_of.name %}
        <a class="u-url" href="{{page.repost_of.url}}">{{page.repost_of.name}}</a>:
        {% else %}
        <a class="u-url" href="{{page.repost_of}}">{{page.repost_of}}</a>:
        {% endif %}
    </p>
{% when "photos" %}
    <p class="p-name">Posted a photo:</p>
    <p>
        <img class="u-photo" src="{{page.photo.first.url}}" alt="{{page.photo.first.alt}}" />
    </p>
{% else %}
    {% if page.show_title %}
    <h1 class="p-name">{{ page.title }}</h1>
    {% endif %}
{% endcase %}
    <content class="e-content">
      {{ content }}
    </content>

    <div class="metadata">
        <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-published">
            Posted on {{ page.date | date: "%B %-d, %Y" }} |
        </time>
        <a href="{{ site.baseurl }}{{ page.url }}" class="u-url internal-link">Permalink</a>
        <a href="/" class="p-author h-card" rel="author">{{ site.author }}</a>
    </div>
    </div>
</div>